In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='data/titanic/'

In [44]:
t = pd.read_csv(f'{PATH}train.csv', low_memory=False)

In [4]:
from IPython.display import HTML

In [21]:
display(t.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
display(DataFrameSummary(t).summary())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891,891,NaN,NaN,714,891,891,NaN,891,NaN,NaN
mean,446,0.383838,2.30864,NaN,NaN,29.6991,0.523008,0.381594,NaN,32.2042,NaN,NaN
std,257.354,0.486592,0.836071,NaN,NaN,14.5265,1.10274,0.806057,NaN,49.6934,NaN,NaN
min,1,0,1,NaN,NaN,0.42,0,0,NaN,0,NaN,NaN
25%,223.5,0,2,NaN,NaN,20.125,0,0,NaN,7.9104,NaN,NaN
50%,446,0,3,NaN,NaN,28,0,0,NaN,14.4542,NaN,NaN
75%,668.5,1,3,NaN,NaN,38,1,0,NaN,31,NaN,NaN
max,891,1,3,NaN,NaN,80,8,6,NaN,512.329,NaN,NaN
counts,891,891,891,891,891,714,891,891,891,891,204,889
uniques,891,2,3,891,2,88,7,7,681,248,147,3
missing,0,0,0,0,0,177,0,0,0,0,687,2
missing_perc,0%,0%,0%,0%,0%,19.87%,0%,0%,0%,0%,77.10%,0.22%
types,numeric,bool,numeric,unique,bool,numeric,numeric,numeric,categorical,numeric,categorical,categorical

In [45]:
t['Sex'].replace({'male':0,'female':1},inplace=True)

In [24]:
display(t.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [15]:
cat_vars=['Ticket','Cabin','Embarked']

In [27]:
t["Embarked"].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [30]:
set(t["Embarked"])

{'C', 'Q', 'S', nan}

In [69]:
t['Embarked'].replace({'C':0,'Q':1,'S':2},inplace=True)

In [33]:
set(t["Ticket"])

{'110152',
 '110413',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113760',
 '113767',
 '113773',
 '113776',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113800',
 '113803',
 '113804',
 '113806',
 '113807',
 '11668',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '12233',
 '12460',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '16966',
 '16988',
 '17421',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17764',
 '19877',
 '19928',
 '19943',
 '19947',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230136',
 '230433',
 '230434',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237789',
 '237798',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '240929',
 '24160',
 '243847',
 '243880',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248731',
 '248733',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250646',
 '250647',
 '250648',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2653',
 '2659',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2666',
 '2667',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29108',
 '2926',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101281',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347078',
 '347080',
 '347081',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35281',
 '35851',
 '35852',
 '358585',
 '36209',
 '362316',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364846',
 '364848',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367228',
 '367229',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36947',
 '36963',
 '36967',
 '36973',
 '370129',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '394140',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17558',
 'PC 17569',
 'PC 17572',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735'}

In [90]:
y=t['Survived'].astype('float32')
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin','Survived']
t = t.drop(drop_elements, axis = 1)

KeyError: 'Survived'

In [85]:
t['Embarked'] = t['Embarked'].fillna('2')
t['Age'] = t['Age'].fillna(t['Age'].mean()).astype('float32')
t=t.astype('float32')

In [55]:
t.describe()

           Pclass         Sex         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     2.308642    0.352413   29.544332    0.523008    0.381594   32.204208
std      0.836071    0.477990   13.013778    1.102743    0.806057   49.693429
min      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      2.000000    0.000000   22.000000    0.000000    0.000000    7.910400
50%      3.000000    0.000000   29.000000    0.000000    0.000000   14.454200
75%      3.000000    1.000000   35.000000    1.000000    0.000000   31.000000
max      3.000000    1.000000   80.000000    8.000000    6.000000  512.329200

In [66]:
label_csv=f'{PATH}train.csv'
n=len(list(open(label_csv)))-1
val_idxs=get_cv_idxs(n)

In [91]:
cat_vars=['Sex','Embarked']
y=y.astype('float32')

In [92]:
md = ColumnarModelData.from_data_frame(PATH, val_idxs,t,y ,cat_flds=cat_vars, bs=128,)

In [71]:
emb_szs=[(2,2),(3,2)]

In [93]:
m = md.get_learner(emb_szs, len(t.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01])
lr = 1e-3

In [96]:
def inv_y(a): return np.exp(a)
def exp_rmspe(y_pred, targ):
    targ = inv_y(targ)
    pct_var = (targ - inv_y(y_pred))/targ
    return math.sqrt((pct_var**2).mean())

In [104]:
m.fit(lr, 200)

HBox(children=(IntProgress(value=0, description='Epoch', max=200), HTML(value='')))

[ 0.       0.50862  0.28617]
[ 1.       0.36513  0.19631]
[ 2.       0.30258  0.18193]
[ 3.       0.26538  0.20344]
[ 4.       0.24297  0.18927]
[ 5.       0.22727  0.16532]
[ 6.       0.21604  0.17606]
[ 7.       0.20723  0.17779]
[ 8.       0.19953  0.15984]
[ 9.       0.19254  0.16136]
[ 10.        0.18529   0.169  ]
[ 11.        0.18032   0.15922]
[ 12.        0.17525   0.1515 ]
[ 13.        0.17053   0.15198]
[ 14.        0.16609   0.14969]
[ 15.        0.16241   0.15048]
[ 16.        0.15868   0.1523 ]
[ 17.        0.15644   0.14984]
[ 18.        0.15451   0.14895]
[ 19.        0.15269   0.14981]
[ 20.        0.1512    0.14792]
[ 21.        0.14937   0.14714]
[ 22.        0.14822   0.14777]
[ 23.        0.14701   0.14702]
[ 24.        0.14537   0.1496 ]
[ 25.        0.144     0.14572]
[ 26.        0.14304   0.14661]
[ 27.        0.14218   0.14865]
[ 28.        0.1411    0.14398]
[ 29.        0.14097   0.14629]
[ 30.        0.14113   0.1473 ]
[ 31.        0.14066   0.15258]
[ 32.        0.13986   0.14495]
[ 33.        0.13953   0.1548 ]
[ 34.        0.13997   0.14294]
[ 35.        0.1391    0.15058]
[ 36.        0.13962   0.1441 ]
[ 37.        0.13932   0.15525]
[ 38.        0.13912   0.14593]
[ 39.        0.13847   0.14219]
[ 40.        0.13766   0.14884]
[ 41.        0.13708   0.14666]
[ 42.        0.1363    0.15023]
[ 43.        0.13588   0.14643]
[ 44.        0.13585   0.15519]
[ 45.        0.13544   0.14836]
[ 46.        0.13408   0.14102]
[ 47.        0.13341   0.14342]
[ 48.        0.13255   0.14691]
[ 49.        0.13207   0.14283]
[ 50.        0.13196   0.14783]
[ 51.        0.13129   0.145  ]
[ 52.        0.13147   0.14775]
[ 53.        0.13167   0.15127]
[ 54.        0.13247   0.14829]
[ 55.        0.13212   0.14489]
[ 56.        0.13235   0.14007]
[ 57.        0.13281   0.14375]
[ 58.        0.133     0.14513]
[ 59.        0.13206   0.14697]
[ 60.        0.13158   0.14655]
[ 61.        0.13105   0.14515]
[ 62.        0.13079   0.14686]
[ 63.        0.13075   0.14828]
[ 64.        0.1304    0.14037]
[ 65.        0.13009   0.14574]
[ 66.        0.12992   0.14579]
[ 67.        0.12919   0.14488]
[ 68.        0.1284    0.14375]
[ 69.        0.12815   0.14285]
[ 70.        0.12799   0.14467]
[ 71.        0.12795   0.14718]
[ 72.        0.12762   0.14471]
[ 73.        0.12814   0.15173]
[ 74.        0.12973   0.15829]
[ 75.        0.13031   0.15459]
[ 76.        0.13157   0.14353]
[ 77.        0.13189   0.14575]
[ 78.        0.13167   0.14447]
[ 79.        0.13226   0.14443]
[ 80.        0.13164   0.14358]
[ 81.        0.13156   0.14877]
[ 82.        0.13121   0.14181]
[ 83.        0.12998   0.14863]
[ 84.        0.13003   0.14391]
[ 85.        0.12942   0.1509 ]
[ 86.        0.12897   0.14114]
[ 87.        0.12809   0.14494]
[ 88.        0.1277    0.14092]
[ 89.        0.12729   0.1426 ]
[ 90.        0.12663   0.14154]
[ 91.        0.12605   0.14075]
[ 92.        0.12624   0.14194]
[ 93.        0.12613   0.14257]
[ 94.        0.12571   0.14411]
[ 95.        0.1263    0.14252]
[ 96.        0.12727   0.1391 ]
[ 97.        0.12804   0.15126]
[ 98.        0.12742   0.14353]
[ 99.        0.12773   0.14085]
[ 100.         0.12794    0.16977]
[ 101.         0.12998    0.14693]
[ 102.         0.13134    0.15286]
[ 103.         0.13135    0.14366]
[ 104.         0.13138    0.15225]
[ 105.         0.13082    0.13909]
[ 106.         0.13082    0.14486]
[ 107.         0.1309     0.15726]
[ 108.         0.13045    0.13993]
[ 109.         0.12995    0.14511]
[ 110.         0.12934    0.14127]
[ 111.         0.12882    0.14409]
[ 112.         0.12806    0.14583]
[ 113.         0.12803    0.1451 ]
[ 114.         0.12796    0.15006]
[ 115.         0.12752    0.15136]
[ 116.         0.1267     0.14044]
[ 117.         0.12684    0.14132]
[ 118.         0.12612    0.13874]
[ 119.         0.12558    0.14534]
[ 120.         0.12486    0.14294]
[ 121.         0.12431    0.14513]
[ 122.         0.12395    0.14247]
[ 123.         0.12391    0.14162]
[ 124.         0.12396    0.14201]
[ 125.         0.12373    0.15224]
[ 126.         0.12498    0.14781]
[ 127.         0.12505    0.14891]
[ 128.         0.1251     0.14033]
[ 129.         0.1252     0.14837]
[ 130.         0.12504    0.14613]
[ 131.         0.12473    0.14367]
[ 132.         0.12472    0.14367]
[ 133.         0.12433    0.14365]
[ 134.         0.12359    0.15366]
[ 135.         0.12352    0.15015]
[ 136.         0.12394    0.14244]
[ 137.         0.12424    0.15038]
[ 138.         0.12413    0.15675]
[ 139.         0.12412    0.14789]
[ 140.         0.12417    0.14324]
[ 141.         0.12543    0.15368]
[ 142.         0.12637    0.14527]
[ 143.         0.12648    0.14774]
[ 144.         0.12632    0.14755]
[ 145.         0.12548    0.14336]
[ 146.         0.12529    0.14695]
[ 147.         0.12481    0.1477 ]
[ 148.         0.12475    0.14064]
[ 149.         0.1249     0.15338]
[ 150.         0.12573    0.14493]
[ 151.         0.12579    0.14934]
[ 152.         0.12564    0.14004]
[ 153.         0.12488    0.14119]
[ 154.         0.12419    0.14127]
[ 155.         0.12348    0.14087]
[ 156.         0.12337    0.14377]
[ 157.         0.12322    0.14785]
[ 158.         0.12337    0.13896]
[ 159.         0.12329    0.14556]
[ 160.         0.12261    0.15013]
[ 161.         0.12269    0.13952]
[ 162.         0.12225    0.1448 ]

[ 163.         0.12168    0.14313]
[ 164.         0.12197    0.14798]
[ 165.         0.12226    0.13747]
[ 166.         0.12236    0.1458 ]
[ 167.         0.12435    0.1477 ]
[ 168.         0.12436    0.14373]
[ 169.         0.12381    0.14993]
[ 170.         0.12353    0.14653]
[ 171.         0.12304    0.14394]
[ 172.         0.12301    0.14835]
[ 173.         0.12295    0.13881]
[ 174.         0.12251    0.14188]
[ 175.         0.12146    0.14647]
[ 176.         0.12217    0.13978]
[ 177.         0.12164    0.16016]
[ 178.         0.12257    0.15556]
[ 179.         0.12219    0.14439]
[ 180.         0.12228    0.14047]
[ 181.         0.12258    0.15028]
[ 182.         0.12198    0.15334]
[ 183.         0.12198    0.14495]
[ 184.         0.12148    0.14595]
[ 185.         0.12158    0.14322]
[ 186.         0.12171    0.14798]
[ 187.         0.12137    0.14067]
[ 188.         0.12117    0.15923]
[ 189.         0.1214     0.14857]
[ 190.         0.12131    0.14143]
[ 191.         0.12089    0.14633]
[ 192.         0.12062    0.14419]
[ 193.         0.11973    0.14655]
[ 194.         0.11983    0.14162]
[ 195.         0.1205     0.15606]
[ 196.         0.12123    0.15966]
[ 197.         0.12047    0.13893]
[ 198.         0.12036    0.14279]
[ 199.         0.12008    0.1468 ]

In [105]:
x,y=m.predict_with_targs()

In [108]:
x,y

(array([[ 0.11955],
        [ 0.30545],
        [ 0.32737],
        [ 0.35504],
        [ 0.92064],
        [ 0.0865 ],
        [ 0.60418],
        [ 0.75732],
        [ 0.52964],
        [ 0.28064],
        [ 0.31646],
        [ 0.12158],
        [ 0.84728],
        [ 0.08221],
        [ 0.13155],
        [ 0.35107],
        [ 0.08221],
        [ 0.08221],
        [ 1.20493],
        [ 0.78423],
        ...,
        [ 0.08221],
        [ 0.07541],
        [ 1.03473],
        [ 0.08221],
        [ 0.60118],
        [ 0.08221],
        [ 1.01635],
        [ 0.08221],
        [ 0.08221],
        [ 1.03219],
        [ 0.08221],
        [ 1.09413],
        [ 0.60281],
        [ 0.95108],
        [ 0.95332],
        [ 0.08221],
        [ 0.08221],
        [ 0.39993],
        [ 0.13412],
        [ 0.29104]], dtype=float32), array([[ 0.],
        [ 1.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 1.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 1.],
        [ 1.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 1.],
        [ 1.],
        ...,
        [ 0.],
        [ 0.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 0.],
        [ 0.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 1.]], dtype=float32))